.vscode/
backend/.env
backend/media/fnsku/*
backend/media/trackings/*
archlogistics
prep/
backend/static/invoices/*
backend/Users/tests/
backend/backend_env
arch_backend/
backend/**/migrations/* 
backend/**/__pycache__/*
!backend/**/migrations/__init__.py
backend/Arch_Logistics/.env